.container {
  position: relative;
  border-bottom: 1px solid #1919190D;
  display: flex;

  &:focus-within {
    border-bottom: 1px solid var(--primary-color);
  }
  &.disabled {
    color: #19191933;
  }
  .wrapper {
    position: relative;
    flex: 1;
    .contentEditable {
      outline: none;
      padding: 8px 0;
    }
    .placeholder {
      position: absolute;
      top: 8px;
      color: #19191966;
    }
  }

  .suffix {
    padding: 8px;
  }
}