.filter-container {
  .filter-wrapper {
    margin: 16px 0;
  }
  .task-item {
    word-break:break-all;
    .task-date {
      display: flex;
      justify-content: space-between;
      .date {
        font-weight: 600;
      }
    }
    .task-content {
      white-space: pre-line;
    }
  }
  .copy-icon {
    cursor: pointer;
  }
}

