.filter-container {
  .filter-wrapper {
    margin: 16px 0;
  }
  .task-list {
    display: flex;
    flex-wrap: wrap;
    .task-item {
      margin: 0 8px 8px 0;
    }
    .task-content {
      word-break:break-all;
      white-space: pre-line;
    }
  }
  .copy-icon {
    cursor: pointer;
  }
}

